{% extends 'base.html' %} 

{% block content %}
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-2 sidenav bg-light p-0" role="navigation">
                <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1">MRI ▾</a>
                        <ul class="list-unstyled flex-column collapse" id="submenu1" aria-expanded="false">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dicom:dicom_study_list' %}">Studies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dicom:patient_list' %}">Patients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dicom:series_list' %}">Series</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dicom:instance_list' %}">Instances</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CANTAB</a>
                    </li>
                </ul>
            </div>
            <!-- Page Content -->
            <div class="col mt-4">
                {% block data-content %} {% endblock data-content %}
            </div>
        </div>
    </div>
{% endblock content %}