{% extends "research/data/data_nav.html" %}


{% block data-content %}
    <p>Patient ID: {{ object.patient_uid }}</p>
    <p>First Name: {{ object.given_name }}</p>
    <p>Last Name: {{ object.family_name }}</p>
    <p>Date of Birth: {{ object.date_of_birth | date:"SHORT_DATE_FORMAT" }}</p>
    <p>Sex: {{ object.sex }}</p>
    {% if object.subject %}
        <p>Research Subject Instance: 
            <a href="{% url 'subject_detail' object.subject.id %}">
                {{ object.subject }}
            </a>
        </p>
    {% endif %}
    <hr>
    <h4>Series</h4>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">UID</th>
            </tr>
        </thead>
        <tbody>
            {% for series in object.series_set.all %}
                <tr>
                    <td>{{ series.id }}</td>
                    <td>{{ series.date | date:"SHORT_DATE_FORMAT"}}</td>
                    <td>{{ series.description }}</td>
                    <td>
                        <a href="{% url 'series_detail' series.id %}">
                            {{ series.series_uid }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <caption>Database ID: {{ object.id }}</caption>
    </table>
{% endblock data-content %}