{
    "ignore": [
        "node_modules/",
        "dist/"
    ],
    "presets": [
        "@babel/env"
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/transform-runtime",
        [
            "@babel/plugin-syntax-dynamic-import"
        ],
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ]
    ]
}