.DS_Store

# Log files
*.log

# Virtual environmet
venv

README.md
LICENSE

Dockerfile
.dockerignore
docker-compose.yml

# Environment variables
*.env

# Git directory
.git
.gitignore

# Development dependencies
requirements-dev.txt

# Editor directories and files
.idea
*.iml
.vscode

# Project documentation
docs

# Media folder
media/*
