.DS_Store

# Virtual environment directory
venv/

# Cache directories and byte-code files
*.py[cod]
__pycache__/
.pytest_cache/
.ipynb_checkpoints

# Environment variables
.env

# Distribution directories and files
dist/
build/
*.egg-info
*.spec

# Static files collected with "manage.py collectstatic"
static/
staticfiles/

# JS modules
node_modules/

# Uploaded files
media
!media/.gitkeep

# Development database
db.sqlite3

# Editor directories and files
.idea
.vscode
.vs

# Coverage reports
htmlcov

# Other
*.pem
*.log
**.pkl
docs/build/
docs/source/_*/