[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
django = "*"
django-crispy-forms = "*"
django-environ = "*"
django-filter = "*"
pydicom = "*"
numpy = "*"
bokeh = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
pandas = "*"
xlrd = "*"
"django-tables2" = "*"
pysmb = "*"
faker = "*"
cryptography = "*"
django-dicom = "*"
eb32889 = {editable = true, path = "/home/flavus/Projects/django_smb"}
django-mptt = "*"

[requires]
python_version = "3.7"

[dev-packages]
yapf = "*"
"flake8" = "*"
ipython = "*"
pytest = "*"
coverage = "*"
factory-boy = "*"
