[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
django = "*"
django-crispy-forms = "*"
django-environ = "*"
django-filter = "*"
pydicom = "*"
numpy = "*"

[requires]
python_version = "3.7"

[dev-packages]
yapf = "*"
"flake8" = "*"
ipython = "*"
pytest = "*"
