bokeh~=2.0
boto3~=1.14
bs4~=0.0
celery~=5.0
dask
Django~=3.2
django-admin-inline-paginator~=0.1
django-nonrelated-inlines~=0.1
djangorestframework~=3.12
djangorestframework_camel_case~=1.1
django-celery-beat~=2.1
django-celery-results~=2.0
django-cors-headers~=3.2
django-environ~=0.4
django-extensions~=3.1
django-filter~=2.4
django-heroku==0.3.1
django-mirage-field
django-model-utils==4.*
django-nonrelated-inlines~=0.1
django-rest-auth~=0.9
django-storages~=1.9
gunicorn==20.0.4
matplotlib~=3.3
nibabel~=3.2
nilearn~=0.7
nipype~=1.5
numpy>=1.20
openpyxl~=3.0
pandas>=1.1
paramiko>=2.7.2
Pillow>=7.1.0
psycopg2-binary~=2.8
pyarrow~=3.0
pydicom~=2.0
pygments~=2.6
scikit-learn~=0.23
scipy>=1.5
seaborn~=0.11
tqdm~=4.59
whitenoise~=5.1
xarray~=0.16
xlrd~=1.2
git+https://github.com/TheLabbingProject/django_analyses.git@master#egg=django_analyses
git+https://github.com/TheLabbingProject/django_dicom.git@master#egg=django_dicom
git+https://github.com/TheLabbingProject/django_mri.git@master#egg=django_mri
git+https://github.com/TheLabbingProject/questionnaire_reader.git@main#egg=questionnaire_reader
git+https://github.com/open-dicom/dicom_parser.git@master#egg=dicom_parser