bokeh~=2.0
boto3~=1.14
bs4~=0.0
celery~=5.0
dicom_parser==0.1.5
Django~=3.1
djangorestframework~=3.12
djangorestframework_camel_case~=1.1
django-celery-beat~=2.1
django-celery-results~=2.0
django-cors-headers~=3.2
django-environ~=0.4
django-extensions~=3.0
django-filter~=2.4
django-heroku==0.3.1
django-model-utils==4.*
django-rest-auth~=0.9
django-storages~=1.9
gunicorn==20.0.4
nibabel~=3.1
nipype~=1.5
numpy~=1.19
pandas~=1.0
Pillow>=7.1.0
psycopg2-binary~=2.8
scikit-learn~=0.23
whitenoise~=5.1
xlrd~=1.2
git+https://github.com/TheLabbingProject/django_analyses.git@master#egg=django_analyses
git+https://github.com/TheLabbingProject/django_dicom.git@master#egg=django_dicom
git+https://github.com/TheLabbingProject/django_mri.git@master#egg=django_mri
git+https://github.com/TheLabbingProject/questionnaire_reader.git@main#egg=questionnaire_reader