{% extends "base.html" %}

{% block content %}
    <h3>DICOM Series</h3>
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Study</th>
                <th scope="col">Patient</th>
                <th scope="col">Series Number</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for series in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'series_detail' series.id %}">
                            {{ series.id }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'study_detail' series.study.id %}">
                            {{ series.study.description }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'patient_detail' series.patient.id %}">
                            {{ series.patient.get_name_id }}
                        </a>
                    </td>
                    <td>{{ series.number }}</td>
                    <td>{{ series.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}