{% extends "research/data/data_nav.html" %}

{% block data-content %}
    <h3>DICOM Instances</h3>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Study</th>
                <th scope="col">Subject</th>
                <th scope="col">Series</th>
                <th scope="col">Instance Number</th>
            </tr>
        </thead>
        <tbody>
            {% for dcm in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'instance_detail' dcm.id %}">
                            {{ dcm.id }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'dicom_study_detail' dcm.study.id %}">
                            {{ dcm.study.id }}
                        </a>
                        ({{ dcm.study.description }})
                    </td>
                    <td>
                        <a href="{% url 'patient_detail' dcm.patient.id %}">
                            {{ dcm.patient.id }}
                        </a>
                        ({{ dcm.patient.patient_uid }})
                    </td>
                    <td>
                        <a href="{% url 'series_detail' dcm.series.id %}">
                            {{ dcm.series.id }}
                        </a>
                        ({{ dcm.series.description }})
                    </td>
                    <td>{{ dcm.number }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock data-content %}