{% extends "base.html" %}

{% block content %}
    <h3>DICOM Instances</h3>
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Instance UID</th>
                <th scope="col">Subject</th>
                <th scope="col">Series UID</th>
            </tr>
        </thead>
        <tbody>
            {% for dcm in object_list %}
                <tr>
                    <td>{{ dcm.id }}</td>
                    <td>
                        <a href="{% url 'instance_detail' dcm.id %}">
                            {{ dcm.instance_uid }}
                        </a>
                    </td>
                    <td>{{ dcm.patient.patient_uid }}</td>
                    <td>
                        <a href="{% url 'series_detail' dcm.series.id %}">
                            {{ dcm.series.series_uid }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}