{% extends 'research/subjects/subject_list.html' %}
{% block subject-detail %}
<div class="subject-entry">
    <h3>Subject {{ subject.id | stringformat:"09d" }}</h3>
    <hr>
    <p>ID Number: {{ subject.id_number }}</p>
    <p>First Name: {{ subject.first_name }}</p>
    <p>Last Name: {{ subject.last_name }}</p>
    <p>Sex: {{ subject.sex.capitalize }}</p>
    <p>Gender: {{ subject.gender.capitalize }}</p>
    <p>Date of Birth: {{ subject.date_of_birth }}</p>
    <p>Dominant Hand: {{ subject.dominant_hand.capitalize }}</p>
    <hr>
</div>
<p>
    <a href="{% url 'research:subject_update' subject.id %}">Edit</a> |
    <a href="{% url 'research:subject_delete' subject.id %}">Delete</a>
</p>
{% endblock subject-detail %}