{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'research/style.css' %}">
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                {% if filter %}
                    <form action="" method="get" class="form form-inline">
                        {% crispy filter.form filter.form.helper %}
                    </form>
                {% endif %}
                {% render_table table %}
            </div>
            <div class="col main pt-3 mt-3">
                {% block subject-detail %} {% endblock subject-detail %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra-scripts %}
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker({ format: "dd/mm/yyyy" });
        }); 
        $('tr').click(function() {
            var href = $(this).find('a').attr('href');
            if (href) {
                window.location = href;
            }
        })
    </script>
{% endblock extra-scripts %}