<div class="col-3 text-center">
    <a href="{% url 'accounts:user_detail' profile.user.id %}">
        {% if profile.image %}
            <img src="{{ profile.image.url }}" 
                    alt="" 
                    height="120" 
                    width="120"
                    title={{profile.get_full_name}}
                    class="rounded-circle">
        {% else %}
            <img src="/media/images/no_photo.png" 
                    alt="" 
                    height="120" 
                    width="120"
                    title={{profile.get_full_name}}
                    class="rounded">
        {% endif %}
    </a>
</div>