{% extends "base.html" %}

{% block content %}
    <h3>Subjects</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name ID</th>
                <th scope="col">Sex</th>
                <th scope="col">Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in object_list %}
                <tr>
                    <th scope="row">{{ subject.id }}</th>
                    <td>
                        <a href="{% url 'subject_detail' subject.id %}">
                            {{ subject }}
                        </a>
                    </td>
                    <td>{{ subject.sex }}</td>
                    <td>{{ subject.date_of_birth }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}