alabaster==0.7.12
amqp==2.4.2
apipkg==1.5
appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
billiard==3.6.0.0
black==18.9b0
bleach==3.1.0
bokeh==1.0.4
bz2file==0.98
celery==4.3.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
configparser==3.5.0
coverage==4.5.3
cycler==0.10.0
# Editable install with no version control (data-review==0.1.0)
-e /home/flavus/Projects/data_review
decorator==4.4.0
defusedxml==0.5.0
Django==2.2
-e git+https://github.com/ZviBaratz/django_analysis.git@d6c309a281e931587cddfc8acf7d091e04cd9e02#egg=django_analysis
django-celery-beat==1.4.0
django-crispy-forms==1.7.2
-e git+https://github.com/ZviBaratz/django_dicom.git@345669a2b7398f1d03f76cb8a0cf28ef2b475d62#egg=django_dicom
django-environ==0.4.5
django-extensions==2.1.6
django-filter==2.0.0
django-filters==0.2.1
-e git+https://github.com/ZviBaratz/django_mri.git@d382f884c53659616d614a4475098c4c7e00e6b7#egg=django_mri
-e git+https://github.com/ZviBaratz/django_nipype.git@dbdbf34f9484a5e583c465c7c10d13d4041f5ed6#egg=django_nipype
-e git+https://github.com/ZviBaratz/django_smb.git@c2ff37c6c0577b42d5ed4e783ab5d1aaafb63f74#egg=django_smb
django-tables2==2.0.6
django-timezone-field==3.0
django-treebeard==4.3
django-webpack-loader==0.6.0
djangorestframework==3.9.2
docutils==0.14
entrypoints==0.3
execnet==1.5.0
factory-boy==2.11.1
Faker==1.0.5
flake8==3.7.7
funcsigs==1.0.2
future==0.17.1
idna==2.8
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
kombu==4.5.0
lxml==4.3.0
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
more-itertools==7.0.0
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
neurdflib==5.0.0.post1
nibabel==2.3.3
nipype==1.1.7
notebook==5.7.7
numpy==1.16.2
packaging==19.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.4.0
pbr==5.1.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pluggy==0.9.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
prov==1.5.3
psycopg2==2.7.6.1
psycopg2-binary==2.8.2
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.5
pycodestyle==2.5.0
pydicom==1.2.2
pydot==1.4.1
pydotplus==2.0.2
pyflakes==2.1.1
Pygments==2.3.1
pygraphviz==1.5
pyparsing==2.4.0
pyrsistent==0.14.11
pysmb==1.1.27
pytest==3.10.1
pytest-cov==2.6.1
pytest-forked==1.0.1
pytest-xdist==1.26.0
python-crontab==2.3.6
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.3
rdflib==4.2.2
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.0
seaborn==0.9.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.12.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.2
toml==0.9.6
tornado==6.0.2
tqdm==4.31.1
traitlets==4.3.2
traits==4.6.0
treebeard==0.1.1
urllib3==1.24.1
vine==1.3.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
xlrd==1.2.0
