{% extends 'base.html' %} {% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="navbar-fixed-left" id="studies-sidebar">
            <ul class="nav flex-column-sm">
                {% for study in object_list %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'study_detail' study.id %}">{{ study.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col offset-2" id="study-content">
            {% block study-content %} {% endblock study-content %}
        </div>
    </div>
</div>
{% endblock content %}