{% extends 'base.html' %} 
{% load static %} 

{% block content %}
    <div class="container-fluid" id="main">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-2 sidenav bg-light p-0" role="navigation">
                <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
                    {% for study in studies %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'research:study_detail' study.id %}">{{ study.name }}</a>
                    </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'research:study_create' %}">
                            <span class="fas fa-plus-square"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Page Content -->
            <div class="col main pt- mt-3">
                {% block study-content %} {% endblock study-content %}
            </div>
        </div>
    </div>
{% endblock content %}